<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Home page</title>
        <meta name="description" content="Web designer - from junior to senior developer and designer">
        <link rel="shortcut icon" href="" />

      <!--keywords-->
        <meta name="keywords" content="junior web developer, senior web developer, web designer, skills in html, css, javascript, python, bootstrap, own projects">
        <meta name="author" content="Urska Rifelj">

      <!--refresh document every 30 sec
      <meta http-equiv="refresh" content="30">-->

      <!--meta data-->
        <meta charset="utf-8">

      <!--meta for bootstrap responsive desgin-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

        <!--My own style css-->
        <link rel="stylesheet" href="assets/style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    </head>

<body>



</body>